<div ng-controller="driversController">
    <div class="w3-row w3-white w3-padding w3-hide-medium w3-hide-small" style="margin-top:5px;">
        <div class="w3-half" style="margin:4px 0 6px 0"><a class="w3schools-logo" href="javascript:void(0)">My Tutorial<span class="dotcom">.com</span></a></div>
        <div class="w3-half w3-margin-top w3-wide w3-hide-medium w3-hide-small">
            <div class="w3-right" style="position:relative;top:5px;">Front End Tutorial</div>
        </div>
    </div>

    <input type="text" ng-model="nameFilter" ng-show="false" placeholder="Search..." />
    <div ng-show="true">
        
            <div><span>My Tutorial</span></div>
        
        <div>
            <div ng-repeat="driver in tutorialTopics | filter: searchFilter">
                <span>{{$index + 1}}</span>
                <span>
                    <img src="img/flags/{{driver.id}}.png" />
                    <a href="javascript:void(0)" ng-click="getInformationById(driver)" >
                        {{driver.displayName}}&nbsp;{{driver.displayName}}
                    </a>
                </span>
                <!--<td>{{driver.Constructors[0].name}}</td>
                <td>{{driver.points}}</td>-->
            </div>
        </div>
    </div>
</div>